.main {
  position: relative;
  color: black;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: auto;
  height: 56.7rem;
  overflow-y: scroll;
  padding: 0;
  overflow-x: hidden;
  margin-top: 3.3rem;
  padding-left: 0.5rem;
}

.main h2 {
  margin: 0;
  padding: 0;
  font-size: large;
  display: flex;
  justify-content: left;
  text-align: left;
  align-items: flex-start;
  margin-left: -1rem;
}

.search {
  background-color: #0c1725;
  color: white;
  border-radius: 0.7vw;
  height: 3vh;
}




.clear-btn {
  width: 10.9rem;
  background-color: #F4976C;
  font-weight: 500;
  margin-top: 1.4rem;
  margin-bottom: 1rem;
  font-size: 5px;
}

.keywordSearch {
  margin-top: 1rem;
}
.searchinput {
  height: 2rem;
  width: 10.5rem;
  background-color: #fff;
  border: 1px solid grey;
  border-radius: 4px;
}


.country {
  width: 100%;
  height: 3vh;
  background-color: aliceblue;
}
.row {
  display: flex;
  width: 100%;
  justify-content: left;
  gap: 11px;
}

.sizeinput {
  width: 3vw;
  height: 3vh;
  background-color: aliceblue;
}

.updown {
  display: flex;
  flex-direction: column;
}
.p1 {
  margin-bottom: 20px;
  width: 15vw;
}
.checkboxstyle {
  width: 40vw;
  height: 20vh;
  margin-top: 2rem;
  border: 2px solid grey;
  overflow-y: scroll;
}
@media (max-width<=767px) {
  .checkboxstyle {
    width: 20vw;
    height: 20vh;
    margin-top: 2rem;
    border: 2px solid grey;
    overflow-y: scroll;
  }
}
