.detailedDesc{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 2rem;
    top: 2rem;
    width: 82rem;
    margin-left: 9.2rem;
    margin-bottom: 5rem;
}


.line {
    background-color:  #222;
}

#pdfParent{
    position: relative;
    top: 6rem;
    bottom: 60rem;
}

.pdfDetail{
    display: flex;
    max-height: 20vh;
    font-size: x-large;
    font-weight: 500;
    align-items: flex-end;
}

#pdf{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    padding: 2rem;
}

#pdf img{
    padding: 2rem;
    max-height: 15vh;
}

.specification{
    min-width: 60%;
}

.specification table{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.specification table tr{
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.specification table tr th{
    font-size: 2.2rem;
    font-weight: 500;
    font-stretch: wider;
}

.specification table tr .hh1 {
    font-weight: 700;
}