.contain {
    border: 1px solid rgb(121, 120, 117);
    /* height: 10vh; */
}
.bord{
    position: relative;
}
.qnty {
    position: relative;
    width: 7rem;
    height: 2rem;
    border-color: black;
    border-radius: 4px;
    border: 1px solid ;
    
}

.btnqty {
    /* width: 39rem;
    height: 2.5rem;
    margin-left: 0.5rem;
    background-color: #F4976C;
    border: 2px solid #fff;
    border-radius:  4px;
    color: #fff;
    font-weight: 600;
    font-size: 0.8rem; */
    border: 1px solid #F4976B;
    border-radius: 3px;
    width: 590px;
    height: 2.5rem;
    display: block;
    color: #fff;
    background: linear-gradient(to right, #1565C0 50%, #F4976B 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    font-weight: 600;
}

.btnqty:hover {
    background-position: left bottom;
    color: #fff;
    border: 1px solid #1565C0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.flex1{
    /* display: flex; */
    
}
.table{
    margin: 2vw;
    display: flex;
    gap: 4rem;
    width: 45rem;
    align-items: center;
    border: 1px solid lightgray;
}



.addtocart{
    /* width: 8rem;
    height: 2.5rem;
    background-color: #F4976B;
    color: #fff;
    font-weight: 600;
    font-size: 0.8rem;
    float: right;
    border: 2px solid #fff;
    border-radius: 4px; */
    border: 1px solid #F4976B;
    border-radius: 3px;
    width: 200px;
    height: 2.5rem;
    display: block;
    color: #fff;
    background: linear-gradient(to right, #1565C0 50%, #F4976B 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    font-weight: 600;

}
.addtocart:hover{
   
    background-position: left bottom;
    color: #fff;
    border: 1px solid #1565C0;
  
}

@media (max-width: 767px) {
    .contain {
      width: 90vw;
      margin: 0 auto;
    }
  
    .flex {
      flex-direction: row;
    }
    .qnty{
        margin-top:1rem ;
    }
  
    .btnqty {
      width: 100%;
      margin-top: 1rem;
    }
  
    .addtocart {
      float: none;
      width: 100%;
      margin-top: 1rem;
    }
  }
