
.border {
    width: 80rem;
    border-color: #F4966B;
    background-color: white;
    left: 50%;
    padding-bottom: 2.0rem;
    margin-left: 7rem;
}
.flexwrap{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.leftcart {
    flex: 1.5;
}

.headingcolor {
    color: #F4966B;
    line-height: 0%;
    
}

.summarybanner {
  
    background-color: #F4976B;
    margin-top: 1rem;
    width: 20vw;
    height: 15vh;
    line-height: 80%;
    border-radius: 1vh;
    transform: translate(10%, 4%);
}
.summarybanner1 {
    width: 20vw;
    height: 20vh;
    border-radius: 1vh;
    transform: translate(10%, 20%);
}
.summarybanner2 {
    background-color: #FFEEBA;
    width: 20vw;
    height: 10vh;
    border-radius: 1vh;
    line-height: 100%;
    transform: translate(1%, 20%);
}
.btn
{
    /* background-color: #BB6E53;
    border-radius: 1vh;
    width: 20vw;
    height: 6vh; */
    border-radius: 1vh;
    width: 20vw;
    height: 6vh;
    display: block;
    color: #fff;
    background: linear-gradient(to right, #1565C0 50%, #F4976B 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    font-weight: 600;
    margin-left: 0.5rem;
}
.btn:hover
{
    background-position: left bottom;
    color: #fff;
    border: 1px solid #1565C0;
}

.btn-back {
    border: 1px solid #F4976B;
    border-radius: 1vh;
    width: 20vw;
    height: 6vh;
    display: block;
    color: #fff;
    background: linear-gradient(to right, #1565C0 50%, #F4976B 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    font-weight: 600;
    margin-left: 0.5rem;
}

.btn-back:hover {
    background-position: left bottom;
    color: #fff;
}
.flexbtn{
    display: flex;
    justify-content: center;
}
.btn1
{
    background-color: white;
    border-radius: 1vh;
    width: 20vw;
    color: black;
    border:2px solid #BB6E53 ;
    height: 5vh;
    margin-top: 5vh;
}
.btn1:hover
{
    background-color: #1565C0;

    color: #fff;
    
}
.flex{
    display: flex;
}

.tableborder {
    margin-left: 1vh;
    margin-top: vh;
    border-top: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
}
.flexbaner{
    margin-top: 0.21rem;
    display: flex;
    line-height: 20%;
    justify-content: space-between;
}
.heading {
    margin: 2vh;
    text-align: center;
}

.ordersummary {
    height: 78vh;
    width: 25vw;
    border: px solid #FFFFFF;
    border-radius: 1rem;
    /* margin: 1vh; */
}

.head-row {
    font-weight: 500;
    font-size:  1.3rem;
    border-bottom: 1px solid #222;
}

.head-row td {
      border-bottom: 1px solid #ccc;

}