.center-icon {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 1s;
  }
  
  .visible {
    opacity: 3;
  }
  
  .hidden {
    opacity: 0;
    pointer-events: none; /* Makes sure the icon is not clickable when hidden */
  }
  